player-connection-mode=Listen
player-connection-guid=1661354198
player-connection-debug=0
player-connection-project-name=AT02_Pacman
player-connection-ip=192.168.23.133
player-connection-ip=192.168.32.1
player-connection-ip=192.168.19.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
